body {
  margin: 0;
  background-color: #FFFFF3;
  font-family:'bitbit';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'HSJiptokki-Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

.dropdownContents {
  text-align: left;
  width: 90%;
  height: 33.333333%;
  display: flex;
  align-items: center;
  padding: 0% 5%;
  color: #B4436C;
}
.dropdownContents:hover:not(:first-child){
  background-color: #E0E3DA;
}

.itemBox{
  height:400px;
}
